<section>
      <div class="container ">
        <div class="row">

          {{#each products}}

            <div class="col-md-3 mt-5">
              <div class="card p-3" style="width: 13rem; height:22rem; background-color: rgba(249, 234, 252, 0.867);">
                <img src="/product-images/{{this._id}}.jpg"  alt=""" class="card-img-top h-50" alt="" "/>
                <div class="card-body p-2">
                  <h5 class="card-title">{{this.Name}}</h5>
                  <p class="card-text">{{this.Description}}</p>
                  <p class="card-price">Rs.{{this.Price}}</p>
                
                  <button onclick="addToCart('{{this._id}}')" class="btn btn-primary ml-3">Add to Cart</button>

                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>

    <script>
     
    </script>